<div class="about-wrapper">


    <div class="info-overlay">
  
      <div class="intro">
        <div class="empty-section"></div>
        <div class="intro-section">
         <div class="name">
          <img src="./stethoscope.png" alt="Icon" />
          <h2>Dr. Abhiram R <span class="degree">MBBS, MD-DVL, FRGUHS- <br>Dermatosurgery & Hair Transplantation.</span></h2>
        </div>
          <p class="title">Consultant Dermatologist & Dermatosurgeon</p>
          <p class="experience">Years of Experience : 9+</p>
        </div>
      </div>
  
      <div class="about-box">
        <div class="image-section">
          <img src="./dr-abhiram.png" alt="Dr. Bhavya N" />
        </div>
        <div class="about-section">
          <h3>About</h3>
          <p>
            Dr. Abhiram R brings extensive expertise in both clinical dermatology and minor dermatologic surgeries. He is passionate about diagnosing complex skin disorders and providing advanced treatment options that combine precision and care.
          </p>
         <div class="button">
          <button class="book-btn">Book Appointment</button>
         </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="approach-section">
    <div class="approach-content">
      <div class="approach-image">
        <img src="./doctor-stethoscope.png" alt="Stethoscope" />
      </div>
      <div class="approach-text">
        <h3>Approach</h3>
        <p>
            He follows a balanced approach to clinical and cosmetic dermatology, tailoring treatment plans to each patient’s unique needs while ensuring safety, efficacy, and satisfaction.

        </p>
      </div>
    </div>
  </div>
  <!-- <div class="float-carousel">
    <div
      class="card"
      *ngFor="let card of visibleCards; let i = index"
      [ngClass]="{
        'front': i === 0,
        'float-in': i === 1 && direction === 'next',
        'float-in-left': i === 1 && direction === 'prev'
      }"
      [ngStyle]="{ 'background-color': card.bgColor}"
    >
    <div class="author">
      <img [src]="card.avatar" alt="{{ card.name }}" />
      <div>
        <h4>{{ card.message }}</h4>
      </div>
    </div>
      <p class="quote">{{ card.role }}</p>
    </div>
  
    <button class="nav prev" (click)="prev()">&#10094;</button>
    <button class="nav next" (click)="next()">&#10095;</button>
  </div>
  
  <div class="gallery">
    <img src="./img-1.png" alt="1" />
    <img src="./img-2.png" alt="2" />
    <img src="./img-3.png" alt="3" />
    <img src="./img-4.png" alt="4" />
  </div> -->
  
  
  
  
  <section class="specialites-section">
    <h2>Specialties</h2>
    <div class="card-grid">
      <div class="card"
           *ngFor="let card of cards"
           [ngStyle]="{ 'background-color': card.bgColor }">
        <div class="author">
          <img [src]="card.avatar" alt="{{ card.name }}" />
          <div>
            <h4>{{ card.message }}</h4>
          </div>
        </div>
        <p class="quote">{{ card.role }}</p>
      </div>
    </div>
  </section>