.root-container {
  position: relative;
}

.banner-section {
  position: relative;
}

.banner-section img {
  width: 100%;
  height: auto;
  margin-top: 80px;
}

.mobile-banner {
  display: none;
}

.content {
  display: flex;
  position: absolute;
  gap: 50px;
  margin-top: -34%;
  margin-left: 10%;
}

.docimage img {
  display: none;
}

.banner-text h1 {
  color: #F3C901;
  text-align: center;
  font-feature-settings: 'salt' on, 'liga' off;
  font-family: "Red Hat Display";
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 24px;
  padding: 0;
  margin: 0;
  /* 137.5% */
}

.qualification {
  color: #F3C901;
  font-feature-settings: 'salt' on, 'liga' off;
  font-family: "Red Hat Display";
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  text-align: center;
  line-height: 10px;
}

.counts {
  display: flex;
  justify-content: center;
  gap: 50px;
  text-align: center;
  margin-top: 5%;
}

.count-box {
  max-width: 150px;
}

.count-num {
  color: #FFF;
  font-family: Poppins;
  font-size: 38px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.count-for {
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.banner-button {
  display: flex;
  justify-content: center;
}

.banner-button button {
  border-radius: 4px;
  border: 2px solid #F5CA02;
  box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.25);
  width: 240px;
  height: 46px;
  padding: 10px 0px;
  margin-top: 5%;
  background-color: transparent;
  color: #FFF;
  text-align: center;
  font-feature-settings: 'salt' on, 'liga' off;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* doctor profile */

.doctor-profile {
  padding: 0 5%;
}

.box {
  border-radius: 30px;
  background: #EDF6F9;
  padding: 2%;
}

.box h2,
.expertise h2 {
  color: #012677;
  font-family: "Red Hat Display";
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.box p {
  color: #010E2B;
  text-align: center;
  font-family: "Red Hat Display";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.expertise-content {
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.specialities {
  margin: 50px;
  text-align: center;

}

.specialities h2 {
  color: #000;
  font-family: "Red Hat Display";
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.points {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
}

.points img {
  width: 35px;
  height: auto;
}

.points-image img {
  width: 360px;
  height: 342px;
  border-radius: 10px;
}

.points-text {
  color: #000;
  font-family: "Red Hat Display";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  /* 175% */
}

.speciality-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-top: 40px;
}

.spec-box {
  width: 300px;
  height: 270px;
  padding: 1%;
  border-radius: 10px;
}

.spec-head {
  display: flex;
  gap: 10px;
  align-items: center;
}

.spec-head img {
  width: 50px;
  height: auto;
}

.spec-name {
  color: #FFF;
  text-align: center;
  font-family: "Red Hat Display";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.spec-description {
  color: #FFF;
  text-align: center;
  font-family: "Red Hat Display";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 30px;
}

@media (max-width : 1250px) {
  .content {
    margin-left: 4%;
  }

  .banner-text h1 {
    font-size: 28px;
  }

  .qualification {
    font-size: 24px;
  }
}

@media(max-width : 1000px) {
  .content {
    margin-left: 1%;
    margin-top: -35%;
  }

  .banner-text h1 {
    font-size: 24px;
  }

  .qualification {
    font-size: 18px;
  }

  .count-num {
    font-size: 30px;
  }

  .count-for {
    font-size: 14px;
  }

  .banner-button button {
    width: 180px;
  }
}

@media(max-width : 800px) {
  .content {
    margin-left: 1%;
    margin-top: -40%;
  }

  .banner-text h1 {
    font-size: 20px;
  }

  .qualification {
    font-size: 18px;
  }

  .count-num {
    font-size: 30px;
  }

  .count-for {
    font-size: 14px;
  }

  .banner-button button {
    width: 250px;
  }

}

@media(max-width : 768px) {
  .expertise-content {
    flex-direction: column;
  }
}

@media (max-width : 600px) {

  .banner-section {
    max-height: 800px;

  }

  .mobile-banner {
    display: block;
    max-height: 850px;
  }

  .desktop-banner {
    display: none;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 10%;
    margin-top: 0;
    gap: 0;
    max-height: 805px;
    overflow-y: hidden;
  }

  .content h1 {
    line-height: 30px;
    /* 136.364% */
    font-size: 22px;
  }

  .qualification {
    font-size: 18px;
    line-height: 30px;
    margin: 0;
  }

  .counts {
    gap: 20px;
  }

  .count-box {
    max-width: 100px;
  }

  .count-num {
    font-size: 26px;
  }

  .count-for {
    font-size: 12px;
  }

  .banner-button{
    margin-top: 5%;
  }

  .docimage {
    display: flex;
    justify-content: center;
  }

  .docimage img {
    display: block;
    height: 500px;
    width: auto;
    position: relative;
    margin-top: -450px;
  }

  .box h2,
  .expertise h2 {
    font-size: 28px;
  }

  .box p {
    font-size: 16px;
  }

  .points img {
    width: 30px;
    height: auto;
  }

  .expertise {
    padding: 2%;
  }

  .expertise-content {
    gap: 30px;
  }

  .points-image img {
    width: 300px;
    height: auto;
  }

  .doctor-profile{
    margin-top: 70px;
  }

}

@media (max-width:400px) {

  .docimage img {
    position: relative;
    margin-top: -400px;
    height: 400px;
  }

  .doctor-profile{
    margin-top: 20px;
  }
}

@media (max-width:350px) {

  .docimage img {
    position: relative;
    margin-top: -280px;
    height: 300px;
  }

}