<main class="root-container">
  <!-- banner section -->
  <section class="banner-section">

    <div>
      <img src="/dr-bhavya-banner-bg-desktop.png" alt="" class="desktop-banner">
      <img src="/dr-bhavya-banner-bg.png" alt="" class="mobile-banner">
    </div>


    <div class="content">
      <div class="banner-text">

        <h1>Dr. Bhavya N – Consultant Physician & Diabetologist</h1>
        <p class="qualification">MBBS, MD (Internal Medicine) | Gold Medalist (RGUHS)</p>

        <div class="counts">

          <div class="count-box">
            <div class="count-num">5000+</div>
            <div class="count-for">Diabetic Patients</div>
          </div>

          <div class="count-box">
            <div class="count-num">10,000+</div>
            <div class="count-for">Women & Family Health</div>
          </div>

          <div class="count-box">
            <div class="count-num">3000+</div>
            <div class="count-for">Critical Illness</div>
          </div>

        </div>

        <div class="banner-button">
          <button routerLink="/contact">Book Appointment</button>
        </div>
      </div>
    </div>

    <!-- dr image -->
    <!-- <div class="docimage">
      <img src="/dr-bhavya-mbbs-md-general-medicine.png" class="dr-bhavya-img" alt="">
    </div> -->

  </section>

  <!-- Doctor brief profile -->
  <section class="doctor-profile">
    <div class="box">
      <h2>Brief Profile About Doctor</h2>
      <p>Dr. Bhavya N, founder and lead consultant at Diyaanvi Multi-Speciality Clinic, is a dedicated physician known
        for her ethical, patient-centered approach. With extensive experience in <a href="https://en.wikipedia.org/wiki/Internal_medicine" target="_blank">internal medicine</a>, she specializes in
        chronic illness management and family healthcare. She remains committed to advancing patient care through
        continuous research and embracing the latest medical innovations.</p>
    </div>
  </section>

  <!-- areas of expertise -->
  <section class="expertise">
    <h2>Areas of Expertise:</h2>

    <div class="expertise-content">
      <div>
        <div class="points" *ngFor="let name of specialityName">
          <img src="/Star.svg" alt="">
          <div class="points-text" (mouseenter)="getImageName(name)">{{name}}</div>
        </div>
      </div>

      <div class="points-image">
        <img [src]="pointsImage" alt="Expertise of Dr. Divya in managing diabetes, thyroid, and lifestyle disorders at Diyaanvi Clinic Bangalore">
      </div>
    </div>
  </section>

  <!-- specialities -->
  <section class="specialites-section">
    <h2>Specialties</h2>
    <div class="main">
      <div class="column" *ngFor="let card of cards; let i = index" [ngClass]="{ 'expanded': expandedIndex === i }"
        [ngStyle]="{ 'background': card.bgColor }" (click)="expandCard(i)">
  
        <div class="inner-element" [ngClass]="{ 'active': expandedIndex === i }">
          <div class="card-header">
            <img class="fa-regular" [src]="card.avatar" [alt] = 'card.alt' />
            <h2 [ngClass]="{ 'h2-expanded': expandedIndex === i }">{{ card.message }}</h2>
          </div>
          <div class="card-body" [ngClass]="{ 'p-expanded': expandedIndex === i }" *ngIf="expandedIndex === i">
            <p>{{ card.role }}</p>
          </div>
        </div>
  
      </div>
    </div>
  </section>
</main>