<div class="about-wrapper">


  <div class="info-overlay">

    <div class="intro">
      <div class="empty-section"></div>
      <div class="intro-section">
       <div class="name">
        <img src="./diabetes-treatment-dr-bhavya-bangalore.png" alt="Diabetes treatment by Dr. Divya at Diyaanvi Clinic, Uttarahalli" />
        <h1 class="doc_name">Dr. Bhavya N <span class="degree">MBBS, MD</span></h1>
      </div>
        <p class="title">Founder & Consultant Physician</p>
        <p class="experience">Years of Experience : 9+</p>
      </div>
    </div>

    <div class="about-box">
      <div class="image-section">
        <img src="./dr-bhavya-mbbs-md-general-medicine.png" alt="Dr. Bhavya MBBS MD - Expert in General Medicine at Diyaanvi Clinic, Uttarahalli" />
      </div>
      <div class="about-section">
        <h3>About</h3>
        <p>
          Dr. Bhavya N is the founder of Diyaanvi Multi-Speciality Clinic and a highly regarded consultant physician
          known for her commitment to ethical, patient-centric care. With years of experience in internal medicine, she
          specializes in managing chronic illnesses such as diabetes, hypertension, thyroid disorders and general health
          concerns.
        </p>
       <div [routerLink]="'/contact'" class="button">
        <button class="book-btn">Book Appointment</button>
       </div>
      </div>
    </div>
  </div>
</div>

<section class="approach-container">
  <div class="approach-section">
    <div class="approach-content">
      <div class="approach-image">
        <img src="./stethoscope-general-care-diayaanvi-clinic.png" alt="Stethoscope symbolizing general medical care at Diyaanvi Clinic, Uttarahalli" />
      </div>
      <div class="approach-text">
        <h3>Approach</h3>
        <p>
          Dr. Bhavya is known for her attentive consultations, clear diagnosis and focus on long-term wellness.
          She emphasizes early intervention and patient education to empower individuals to take charge of their health.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="specialites-section">
  <h2>Specialties</h2>
    <div class="main">
      <div
        class="column"
        *ngFor="let card of cards; let i = index"
        [ngClass]="{ 'expanded': expandedIndex === i }"
        [ngStyle]="{ 'background': card.bgColor }"
        (click)="expandCard(i)"
      >

      <div class="inner-element" [ngClass]="{ 'active': expandedIndex === i }">
        <div class="card-header">
          <img class="fa-regular" [src]="card.avatar" [alt]="card.alt"/>
          <h2 [ngClass]="{ 'h2-expanded': expandedIndex === i }">{{ card.message }}</h2>
        </div>
        <div class="card-body" [ngClass]="{ 'p-expanded': expandedIndex === i }" *ngIf="expandedIndex === i">
          <p>{{ card.role }}</p>
        </div>
      </div>
  
    </div>
    </div>
</section>







